.card {
    box-shadow: 2px 2px 2px 2px rgb(24, 24, 24);

}

.card-title {
    font-size: 2rem;
    font-weight: 600;
}

.bigTitle {
    width: 100%;
    height: 100%;

    & p {
        font-size: 6rem;
        text-align: center;
        margin-top: 8rem;
        color: orangered;
        text-transform: capitalize;
        text-shadow: 2px 2px 3px orange;

        @media (max-width: 768px) {
            margin-top: 2rem;
            font-size: 4rem;
        }
    }
}